html, body{
	margin: 0px;
	padding: 0px;
	font-family: Sans-serif;
}

div, table, tr, td{
	box-sizing: border-box;
}

form, input, label{
	display: block;
}

img{
	max-width: 100%;
}

.navigation{
	z-index: 999;
	position: fixed;
	top: 0px;
	display: block;
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-image:url(../img/bg.jpg);
	background-size: cover;
	background-position-y: bottom;
}
.navigation, .footer{
	color: white;
}
.navigation a, .navigation a:active, .navigation a:visited,
.footer a, .footer a:active, .footer a:visited{
	color: white;
}
.navigation .right a{
	margin: 0px 15px;
}

.content{
	z-index: 99;
	margin-top: 70px;
	margin-bottom: 120px;
	position: relative;
	width: 100%;
	overflow: auto;
	background: white;
}

.footer{
	z-index: 9;
	height: 120px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding-top: 20px;
	color: white;
	background-image:url(../img/bg.jpg);
	background-size: cover;
}

.container{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.section{
	display: block;
	width:100%;
	clear: both;
	position: relative;
}

.paragraph{
	margin-top: 50px;
	margin-bottom: 50px;
}

.parallax-layer{
	z-index: -1;
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	background-size: cover;
	background-position: center center;
}

.right{
	float: right;
}

.left{
	float: left;
}

.dark-title{
	display: inline-block;
	background: rgba(0,0,0,0.5);
	padding: 10px 30px;
	color: white;
}

/* ======================================================== */

#section-home{
	height: 80vh;
}
#section-home .container{
	padding-top: 100px;
}

/* ======================================================== */

/*
@media(max-width: 699px){
	#wrapper #articles article{
		width: 100%;
		margin-bottom: 10px;
	}
}
*/

/* ======================================================== */

